* {
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #1b1b1b;
}

div.banner {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #245ca9;
	padding: 10px;
	z-index: 1;
	box-shadow: 3px 3px 4px #000;
}

div.banner_holder{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #245ca9;
	padding: 10px;
	z-index: 0;
	visibility: hidden;
}

div.mainbody {
	margin-left: 10%;
	margin-right: 10%;
	border: solid 1px #000000;
	z-index: 0;
	position: absolute;
	min-height: 100%;
	width: 80%;
	background-color: #ffffff;
}
