<html>
	<head>
		<title>{% block title %}{% endblock %} - Classcade</title>
		<link rel="stylesheet" type="text/css" href="classcade.css" />
		<link rel="stylesheet" type="text/css" href="classcade_app.css" />
		<script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="scripts/loadPadding.js"></script>
	</head>
	<body>
	<div class="sidebar banner_show">
		<img src="img/classcade_logo.png" alt="Classcade logo" id="logo" />
	</div>
	<div class="sidebar sidebar_pad">
		<img id="padding" />
	</div>
	<div class="content board_content">
		<h1>Hello World!</h1>
	</div>
	</body>
</html>
