{% extends "main.html" %}

{% block title %}Home{% endblock %}

{% block maincontent %}
<div class="login_floatbox">
	<form class="login">
		<span class="fontmirror">Email:</span><br />
		<input type="text" class="fulltext" /><br />
		<span class="fontmirror">Password:</span><br />
		<input type="password" class="fulltext" /><br />
		<span style="padding-left: 80%;">
			<input type="submit" class="btn frequent" value="Sign-in" />
		</span>
	</form>
	<div class="menu">
		Unregistered? Sign-up!
	</div>
</div>
<h1>Hello World</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a tellus non tortor facilisis molestie. Nam sed nibh velit. Fusce sit amet tellus sed risus pharetra dapibus a in nunc. Ut venenatis aliquet imperdiet. Suspendisse sit amet quam nec lorem posuere semper. Cras ut diam quis massa tempor mattis. Nam fringilla enim id purus blandit nec placerat ligula pretium. Donec nunc lectus, fermentum quis placerat ac, fringilla eu purus. Integer cursus, nisl vitae fringilla pellentesque, urna sapien molestie leo, at dapibus massa justo sit amet erat. Nam augue dolor, auctor ut aliquet pellentesque, accumsan et tellus.</p>
{% endblock %}
