<html>
	<head>
		<title>Template</title>
		<link rel="stylesheet" type="text/css" href="classcade.css" />
		<script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	</head>
	<body>
		<div class="banner">
			<img src="img/classcade_logo.png" alt="classcade logo" />
		</div>
		<div class="mainbody">
			<!-- Replicate the banner so that it translates mainbody content
			but set visibility to hidden. -->
			<div class="banner_holder">
				<img src="img/classcade_logo.png" alt="classcade logo" />
			</div>
			<h1>Hello World</h1>
		</div>
	</body>
</html>
