<!--
The template should expect the following:
  - title - For the page's title.
  - content - The page's contents, specified as an include file.
  - stylesheets - The (additional) stylesheets which this page will load.
  - scripts - The JavaScript files which this page will load.
-->
{% load staticfiles %}
<html>
	<head>
		<title>{% block title %}{% endblock %} - Classcade</title>
		<link rel="stylesheet" type="text/css" href="{% static "classcade.css" %}" />
		{% for style in style_list %}
			<link rel="stylesheet" type="text/css" href="{% static style %}" />
		{% endfor %}
		<script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	</head>
	<body>
		<div class="banner banner_show">
			<img src="{% static "img/classcade_logo.png" %}" alt="classcade logo" />
		</div>
		<div class="content mainbody">
			<!-- Replicate the banner so that it translates mainbody content
			but set visibility to hidden. -->
			<div class="banner banner_holder">
				<img src="{% static "img/classcade_logo.png" %}" alt="classcade logo" />
			</div>
			{% block maincontent %}
			{% endblock %}
		</div>
		<div class="content postscript">
			<h1>Some Content...</h1>
		</div>
	</body>
</html>
